/* --- Open Sans font family ---  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');


/* --- Montserrat font family ---  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
    --primary-color: #14bf98;
    --secondary-color: #dfe5ec;
    --white: #ffffff;
    --black: #000000;
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* common classes */
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    color: #484a46;
}

h2,
h3,
h4 {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    color: #484a46;
    font-size: 1.375rem;
}

h4 {
    color: #484a46;
    font-size: 1.25rem;
}

p {
    color: #787976;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.section-title {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

/* ------Nav Section Start------ */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    padding: 0.5rem 5rem;
    background: #113448;

}

.nav-left-side {
    color: var(--white);
    width: 7.65rem;
    cursor: pointer;
}

.nav-right-side {
    display: flex;
}

.nav-items {
    display: flex;
    list-style: none;
}

.nav-items li a {
    font-size: 0.875rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.nav-items .active a {
    color: var(--primary-color);
}

.nav-items li:hover a {
    color: var(--primary-color);
}

.social-icons {
    display: flex;
}

.social-icons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    color: var(--white);
    margin-left: .3rem;
    background: url('/assets/images/hexagon-green.svg') no-repeat;
    background-size: contain;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.social-icons a:hover {
    background: url('/assets/images/hexagon-white.svg')no-repeat;
    background-size: contain;
    color: var(--primary-color);
}

.social-icons a svg {
    font-size: 0.875rem;
}

/* ------Nav Section End------ */

/* ------Hero Section Start------ */
.hero {
    padding-top: 14.75rem;
    padding-bottom: 17.75rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url(/assets/images/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-container {
    margin: 6.5rem auto 3rem auto;
    text-align: center;
}
.hero .text-container h1 {
    color: var(--white);
    margin-bottom: 0.5rem;
    font-size: 3.5rem;
}
.hero .text-container p {
    color: var(--secondary-color);
    font-size: 1.125rem;
    margin-bottom: 2rem;
}
.hero .text-container .btn {
    padding: 1rem 2.125rem;
    color: var(--white);
    text-decoration: none;
    background: var(--primary-color);
    border: 0.125rem solid var(--primary-color);
    font-family: Montserrat, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.hero .text-container .btn:hover {
    background: transparent;
    color: var(--primary-color);
}

/* ------Hero Section End------ */

/* ------Intro Section Start------ */
.intro {
    padding: 6.875rem 0 3rem 0;
}

/* intro-1 start from here  */
.intro .intro-1 {
    display: flex;
    justify-content: space-between;
}

.intro .text-side {
    width: 40%;
}

.intro .text-side h2 {
    margin-bottom: 1.375rem;
}

.intro .text-side p {
    margin-bottom: 1rem;
    line-height:1.5 ;
}

.intro .text-side .testimonial-text {
    font-style: italic;
}

.intro .text-side .testimonial-author {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.intro .intro-1 .image-box {
    width: 55%;
    overflow: hidden;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.intro .intro-1 .image-box img {
    width: 100%;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.intro .intro-1 .image-box img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* - cards-wrapper starts form here  */
.cards-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2.875rem;
}

.cards-wrapper .card .icon-box {
    width: 6rem;
    height: 6rem;
    background: url(/assets/images/hexagon-green.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.cards-wrapper .card .icon-box svg {
    font-size: 2rem;
    color: var(--white);
}

.cards-wrapper .card .card-title {
    margin-bottom: 0.875rem;
    text-align: left;
}

/* ------Intro Section End------ */

/* ------Services Section Start------ */
.services {
    padding-top: 6.625rem;
    padding-bottom: 6.25rem;
    background: #fbfbfb;
}

.services .section-title {
    text-align: center;
}

.services h2 {
    text-align: center;
    margin-bottom: 3.25rem;
}

.services-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.services-card-wrapper .card {
    max-width: 20.875rem;
    background: #fff;
    border: 1px solid #ebe8e8;
    border-radius: 0.375rem;
    -webkit-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
    -ms-border-radius: 0.375rem;
    -o-border-radius: 0.375rem;
}

.card-image {
    overflow: hidden;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;

    width: 100%;
}

.services .card-body {
    width: 100%;
    padding: 2.25rem 2rem;
}

.services .card-body .card-title {
    text-align: center;
    margin-bottom: 0.75rem;
}

.services .card-body p {
    margin-bottom: 1rem;
}

.services .card-body ul {
    margin-bottom: 1.5rem;
    list-style: none;
}

.card-body ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0.375rem;
}

.card-body ul li svg {
    color: var(--primary-color);
    font-size: 0.5rem;
    margin-right: 0.625rem;
}

.card-body .price {
    color: #484a46;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.card-body .price span {
    color: var(--primary-color);
}

.card .button-container {
    text-align: center;
}

.card .button-container .btn {
    padding: .7rem 1.875rem;
    background: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 700;
    border: 0.125rem solid var(--primary-color);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.card .button-container .btn:hover{
    background-color: var(--white);
    color: var(--primary-color);
}

/* ------Services Section End------ */

/* ------Accordian Section Start------ */
.accordian {
    width: 100%;
    height: 34.625rem;
    display: flex;
}

.accordian .image-side {
    width: 50%;
    height: inherit;
    background: url(/assets/images/accrodian-1bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.accordian .content-side {
    width: 50%;
}

.accordian .accordion-container {
    padding-top: 6.375rem;
    width: 88%;
    max-width: 28rem;
    margin-left: 5rem;
}

.accordian h2 {
    margin-bottom: 1.625rem;
}

.accordian .content-side .item {
    margin-bottom: 2rem;
}


.accordian-heading .circle-numbering {
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.875rem;
    border: 0.125rem solid #484a46;
    border-radius: 50%;
    color: #484a46;
    font: 700 1rem/2.125rem "Montserrat", sans-serif;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.accordian-heading .accordion-title {
    display: inline-block;
    margin-top: 0.125rem;
    margin-bottom: 0.25rem;
    color: #484a46;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.accordian .content-side .item:hover .circle-numbering {
    background: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
}

.accordian .content-side .item:hover .accordion-title {
    color: var(--primary-color);
}
.accordion-para {
    margin-left: 3.125rem;
}

.active .accordian-heading .circle-numbering {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: var(--white);
}

.active .accordian-heading .accordion-title {
    color: var(--primary-color);
}

/* ------Accordian Section End------ */

/* ---Tab section start--- */

.tab-section {
    width: 100%;
    height: 36.125rem;
    display: flex;
}

.tab-section .image-side {
    width: 50%;
    height: inherit;
    background: url(/assets/images/accrodian-2bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tab-section .content-side {
    width: 50%;
}

.tab-content-container {
    padding-top: 6.375rem;
    width: 88%;
    max-width: 28rem;
    float: right;
    margin-right: 5rem;
}

.tab-items {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.tab-items .item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tab-items .item svg {
    color: #c1cace;
    font-size: 1rem;
    margin-right: .525rem;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.tab-items .item span {
    color: #c1cace;
    font-size: 1.375rem;
    font-weight: 700;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.tab-items .item.active *{
    color: var(--primary-color);
}

.tab-items .item:hover * {
    color: var(--primary-color);
}
.tab-content-panel h4{
    color: #484a46;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: .5rem;
}
.tab-content-panel p{
    color: #787976;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1rem;
}
.tab-content-panel p a{
    color: var(--primary-color);
}
.progress-title{
    color: #484a46;
    font-size: 0.875rem;
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
    margin-bottom: .25rem;
}
.progress{
    height:1.375rem ;
    margin-bottom: 1.375rem;
    background: #f9fafc;
    border-radius: 0.125rem;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    -ms-border-radius: 0.125rem;
    -o-border-radius: 0.125rem;
}
.progress .progress-bar{
    height: 100%;
    background: linear-gradient(to bottom right, #14bf98, #1bd1a7);
    border-radius: 0.125rem;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    -ms-border-radius: 0.125rem;
    -o-border-radius: 0.125rem;
}
.progress-1 .progress-bar{
    width: 100%;
}
.progress-2 .progress-bar{
    width: 76%;
}
.progress-3 .progress-bar{
    width: 90%;
}
/* ---Tab section End--- */

/* ------Customer-Testimonial Section Start------ */
.testimonial{
    padding: 6.375rem 0 6.5rem 0;
    text-align: center;
}
.testimonial h2{
    margin-bottom:0.75rem ;
}
.testimonial .p-heading{
    width: 55%;
    margin: 0 auto  3.5rem auto;
}
.left-arrow, .right-arrow{
    width: 1.375rem;
}
.swipper{
    width: 100%;
    position: relative;
}
.swipper-wrapper{
    display: flex;
    overflow: scroll;
    gap: 55px;
}
.swipper-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.swipper-card{
    min-width: 319.667px;
    margin-right: 20px;
}
.swipper-card .customer-image img{
    width:6rem ;
    height:6rem ;
    margin: 0 auto 0.5rem auto;
    border-bottom: 0.25rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonial-text{
    margin-bottom: 0.625rem;
    font-style: italic;
    word-wrap: break-word;
}
.testimonial-author{
    color: #484a46;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Montserrat" ,sans-serif;
}

.swipper-btn{
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    color: #787976;
    font-weight: 400;
}
.swipper-left-btn{
    left: -2rem;
}
.swipper-right-btn{
    right: -2rem;
}
/* ------Customer-Testimonial Section End------ */

/* ----Call Me section start---- */
.call-me{
    padding-top: 7rem;
    padding-bottom: 5.625rem;
    background: #153e52;
    display: flex;

}
.call-me .container{
    display: flex;
    justify-content: space-between;
}
.call-me .left-side{
    width: 50%;
    margin: 1.375rem 1.75rem 0 3rem;
}
.call-me .left-side h2{
    color: var(--white);
    margin-bottom: 1.375rem;
}
.call-me .left-side p{
    color: #dfe5ec;
    margin-bottom: 1rem;
}
.call-me .left-side .list-item{
    margin-bottom: 0.375rem;
    display: flex;
    align-items: center;
}
.left-side .list-item svg{
    color: var(--primary-color);
    font-size: 0.5rem;
    margin-right: 0.625rem;
}
.left-side .list-item span{
    color: #dfe5ec;
}
.form-side{
    width: 50%;
}
.form-side .form-wrapper form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.form-side .form-wrapper .input-item{
    border: 1px solid #39728f;
    background: #2a5d77;
    color: var(--white) !important;
    padding: 1rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Open Sans" , sans-serif;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    outline: none;
}
.form-side .form-wrapper .input-item::placeholder{
    color: var(--white);
}

.call-me .form-side .form-wrapper .term-condition{
    color: #dfe5ec;
}
.call-me .form-side .form-wrapper .term-condition a{
    color: #dfe5ec;
    text-decoration: underline;
}

.form-side .form-wrapper form .btn{
    padding: 1rem 1.25rem;
    background: var(--primary-color);
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 700;
    cursor: pointer;
    font-family: "Montserrat" , sans-serif;
    border: 0.125rem solid #14bf98;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.form-side .form-wrapper form .btn:hover{
    color: var(--primary-color);
    background: transparent;
}
/* ----Call Me section End---- */

/* ----Projects section Start---- */
.projects{
    padding-top: 6.5rem;
    padding-bottom: 7rem;
}
.projects .section-title,.projects h2{
    text-align: center;
}
.projects .filter-tabs{
    width: fit-content;
    margin: 0 auto;
    margin-top: 2.5rem;
    display: flex;
    gap: 0.875rem;

}
.projects .filter-tabs .tab{
    text-transform: uppercase;
    padding:0.3125rem 1.375rem ;
    color: #7b7e85;
    background: #f1f4f7;
    font-weight: 700;
    font-size: 0.75rem;
    font-family: "Montserrat" , sans-serif;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.projects .filter-tabs .tab:first-child{
    color: var(--white);
    background: var(--primary-color);
}
.projects .filter-tabs .tab:hover{
    color: var(--white);
    background: var(--primary-color);
}

.projects .projects-wrapper{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.projects .projects-wrapper .single-project {
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.projects .projects-wrapper .single-project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
}

.projects .projects-wrapper .single-project img {
    z-index: -1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.projects .projects-wrapper .single-project:hover img {
    transform: scale(1.2);
}
.projects .projects-wrapper .single-project:hover::before {
    opacity: 1;
}
.projects-wrapper .single-project .project-title{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    z-index: 4;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.projects .projects-wrapper .single-project:hover .project-title{
    opacity: 1;
}
/* ----Projects section End---- */

/* ----Consultants section Start---- */
.consultants{
    padding-top: 6.375rem;
    padding-bottom: 3.375rem;
    background: #fbfbfb;
    text-align: center;
}
.consultants .teams-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    padding: 0 1rem;
}
.consultants .teams-wrapper .team{
    width: 12.75rem; 
}
.consultants .teams-wrapper .team .member-image{
    width: 100%;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
.consultants .teams-wrapper .team img{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.consultants .teams-wrapper .team img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.teams-wrapper .team .member-name{
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: 400;
}
.teams-wrapper .team .job-title{
    margin-bottom: 0.75rem;
    color: #484a46;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.teams-wrapper .team .social-icons{
    width: fit-content;
    margin: 0 auto;
}
/* ----Consultants section End---- */

/* ----About section Start---- */
.about{
    padding-top: 6.875rem;
    padding-bottom: 5.25rem;

}
.about .container{
    display: flex;
    justify-content: space-between;
}
.about .image-side{
    width: 42%;
}
.about .content-side{
    width: 50%;
    padding-top:0 .5rem;
}
.about .content-side h2{
    margin-bottom: 1.375rem;
}
.about .content-side p{
    margin-bottom: 1rem;
}
.about .content-side .list{
    margin-bottom:1.5rem ;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.about .content-side .list .list-item svg{
    color: var(--primary-color);
    font-size: .5rem;
    margin-right: 0.625rem;
}
.about .content-side .counter{
    display: flex;
    justify-content: space-between;
}
.about .content-side .counter .cell{
    width: 9.5rem;
    display: flex;
    align-items: center;
}
.about .content-side .counter .cell .number{
    color: var(--primary-color);
    font-size: 2.875rem;
    font-weight: 700;
    font-family: "Montserrat" , sans-serif;
    display: inline-block;
    margin-bottom: 0.375rem;
}
.about .content-side .counter .cell .counter-info{
    margin-left: 0.5rem;
    font-size: .875rem;
    display: inline-block;
}
/* ----About section End---- */

/* ----Contact section Start---- */
.contact{
    padding-top: 6.875rem;
    padding-bottom: 5.625rem;
    background-color: #fbfbfb;
}
.contact .container{
    display: flex;
    justify-content: space-between;
}
.contact .left-side {
    width: 50%;
    margin: 1.375rem 1.85rem 0 3rem;
}

.contact .left-side h2 {
    margin-bottom: 1.375rem;
}

.contact .left-side .para {
    margin-bottom: 1rem;
}

.contact .left-side .list-item {
    margin-bottom: 0.375rem;
    display: flex;
    align-items: center;
}

.left-side .list-item svg {
    color: var(--primary-color);
    font-size: 0.875rem;
    margin-right: 0.625rem;
}

.contact .left-side .list-item .text {
    font-size: 1rem;
    margin-right: 1rem;
    display: inline-block;
}
.contact .left-side .list-item a{
    text-decoration: underline;
    color: #787976;
}
.contact .left-side .follow-text{
    margin: 2.25rem 0 1rem 0;
}

.contact .left-side .social-icons a{
    width: 3.25rem;
    height: 3.25rem;
}
.contact .left-side .social-icons svg{
    font-size: 1.5rem;
}
.form-side {
    width: 50%;
}

.contact .form-side .form-wrapper .input-item {
    border: 1px solid #dadada;
    background: var(--white);
    color: #787976 !important;
    padding: 1rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    outline: none;
}
.contact .form-side .form-wrapper .input-item:hover{
    border: 1px solid #a1a1a1;
}
.contact .form-side .form-wrapper textarea{
    height: 8rem;
}
.contact .form-side .form-wrapper .input-item::placeholder {
    color: #787976;
}

.contact .form-side .form-wrapper .term-condition {
    color: #787976;
}
.contact .form-side .form-wrapper .term-condition a {
    color: #787976;
    text-decoration: underline;
}
/* ----Contact section End---- */

/* ----Footer section Start---- */
footer {
    padding-top: 5rem;
    background-color: #113448
}
.footer-content-wrapper{
    width: 100%;
    display: flex;
}
.footer-content-wrapper .about-aria{
    width: 50%;
}
.footer-content-wrapper .about-aria p{
    color: #dfe5ec;
}
.footer-content-wrapper .footer-navs-wrapper{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.footer-content-wrapper h4{
    color: var(--white);
    margin-bottom: 0.75rem;
}
.footer-content-wrapper .footer-navs-wrapper a{
    color: #dfe5ec;
    text-decoration: underline;
    display: block;
    margin-bottom: .5rem;
}
.copy-rights{
    color: #dfe5ec;
    text-align: center;
    margin-top: 3rem;
}
/* ----Footer section End---- */